<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    <% @albums.each do |album| %>
        <a href=/album/<%= album.id %>><div>
            Title: <%= album.title %>
            Released: <%= album.release_year %>
        </div>
    <% end %></a>
    
  </body>
</html>